p,h4,#myList {
    color: #404040;
}

p{
    font-family:'Courier New' ;
    font-size: 14px;
}

#header{
    color:#c32017;
}

.new{
    color:#6bc5e3
}

ul li{
    color:#cc0000
}

a:link{
    color: black;
}
a:visited{
    color: #faa21a;
}
a:hover{
    color: #800000;
}
a:active{
  color: #008000;
}