body {
    font: 14px Tahoma;
    color: #333333;
    padding: 15px;
    margin: 0 auto;
    width: 1000px;
    background-color: bisque;
}

p {
    text-indent: 25px;
}

#header {
    text-align: center;
    text-transform: uppercase;
    padding: 40px 20px;
    margin: 20px auto 5px auto;
    width: 550px;
    background-color: darksalmon;
    color: beige;
    border: 1px solid #faa21a;
}


a:link {
    color: black;
}

a:visited {
    color: #faa21a;
}

a:hover {
    color: #800000;
}

a:active {
    color: #008000;
}

.new2 {
    font-style: italic;
}

.new3 {
    font-weight: bold;
    text-decoration: underline;
}

a {
    text-decoration: none;
    border-bottom: 3px dashed #c32017;
}

.new4 {
    text-align: justify;
}

.new6 {
    color: #5E2951;
}

#liSuper {
    color: #0FD611;
}

#myList li.new6 {
    color: #4EB7D7;
}

ul {
    list-style: inside url('CSS/images/arrow.png');
}



