body {
    background-color: #4EB7D7;
    font: 11px Verdana;
    color: #20883E;
}

#wrapper {
    margin: 30px auto;
    background-color: #D3D7D4;
    height: 520px;
    min-width: 650px;
    max-width: 1920px;
}

#content {
    height: 500px;
    margin: 0 220px 0 220px;
    outline: 1px solid darkviolet;
}

#sidebarL {
    width: 200px;
    height: 500px;
    float: left;
    outline: 1px solid blue;
}

#sidebarR {
    width: 200px;
    height: 500px;
    float: right;
    outline: 1px solid blue;
}
