body {
    background-color: cadetblue;
    background-image: url("../CSS/images/pattern.png");

}

#main {
    width: 812px;
    height: 535px;
    margin: 28px auto;
   // outline: 1px solid maroon;
    background-image: url("../CSS/images/bg.jpg");

}

#main h1 {
    text-align: center;
    padding-top: 182px;
    font: 36px Verdana;
   // outline: 1px solid maroon;
    background-image: url("../CSS/images/logo.png");
    background-repeat: no-repeat;
    background-position: 136px 190px;
}