body {
    font: 15px Verdana, sans-serif;
    color: #79146C;
}

#wrapper {
    width: 750px;
}

.question {
    font-weight: bold;
}

fieldset {
    padding: 10px 10px;
    margin: 10px;
    border: 3px solid green;
    background-color: #c9c1bb;
}

textarea {
    background-color: #4EB7D7;
    border: 3px solid green;
    width: 723px;
    margin: 2px 10px;
    font: 12px Verdana;
    padding: 0 7px;
}

textarea:focus {
    border: 1px solid #4EB7D7;
    background-color: #ffffff;
}

.tp {
    margin-left: 10px;
}

.input {
    border: 3px solid green;
    height: 27px;
    background-image: url("../templates/images/inputbg.jpg");
    background-repeat: repeat-x;
    font: 12px Verdana;
    line-height: 27px;
    padding: 0 7px;
}

.input:focus {
    border: 1px solid #4EB7D7;
    background: none;
    background-color: #ffffff;
}

label{
    cursor: pointer;
}