<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Формы</title>
</head>
<body>
<form action="formdata.php" method="post" name="form1"></form>
<p><label>Введите ваше имя (макс 10 символов): <input type="text" name="name" size="10" maxlength="11"></label></p>
<p><label>Введите ваше имя (макс 10 символов): <input type="password" name="name" size="10" maxlength="11"></label></p>
<p>Вы любите экономить время? <label><input type="radio" name="time" value="yes" checked>Да</label><label><input type="radio" name="time" value="no">Нет</label></p>
</body>
</html>